body{
    background: url("https://wallpapercave.com/wp/TlLUbmz.jpg");
    color: black;
    font-family: 'Roboto Mono', monospace;
}

h3{
    width: 600px;
}

span{
    font-size: 20px;
}